Source: jigdo
Section: utils
Priority: extra
Maintainer: Richard Atterer <atterer@debian.org>
Build-Depends: debhelper (>= 4), zlib1g-dev, libbz2-dev, libdb4.6-dev, libgtk2.0-dev, libcurl4-dev
Standards-Version: 3.5.6

Package: jigdo
Architecture: any
Depends: ${shlibs:Depends}
Suggests: jigdo-file
Description: GTK+ download manager (beta version)
 This is a BETA version of the jigdo GTK+ download manager. In
 particular, it is NOT yet capable of processing .jigdo files - use
 jigdo-lite from the jigdo-file package for that!
 .
 This download manager features FTP and HTTP 1.1 support, pausing,
 continuing and resuming of downloads, and automatic guessing of your
 proxy configuration.
 .
 jigdo homepage: <http://atterer.net/jigdo/>

Package: jigdo-file
Architecture: any
Depends: wget, ${shlibs:Depends}
Conflicts: jigdo (<< 0.6.9)
Description: Download Debian CD images from any Debian mirror
 Using the jigdo-lite script contained in this package, you can use
 your nearest "regular" Debian mirror to download Debian CD images,
 instead of having to use one of the few, slow, overloaded mirrors
 that offer the images as direct HTTP or FTP downloads. See
 <http://www.debian.org/CD/jigdo-cd/> for details.
 .
 Jigsaw Download, or short jigdo, is a scheme developed primarily to
 make it easy to distribute huge filesystem images (e.g. CD (ISO9660)
 or DVD (UDF) images) over the internet, but it could also be used for
 other data which is awkward to handle due to its size, like
 audio/video files or large software packages.
 .
 jigdo tries to ensure that the large file is downloaded in small
 parts which can be stored on different servers. People who want to
 download the image do so by telling the jigdo download tool to
 process one ".jigdo" file; using it, jigdo downloads the parts and
 reassembles the image. jigdo-file is used to prepare the files for
 download.
 .
 jigdo homepage: <http://atterer.net/jigdo/>
